{% extends "layout.html" %}
{% block body %}

  <!-- mainbody -->

  <div class="main-body">
    <div class="form-section">
      <div class="form-title">
        <label for="name">Enter your name </label>
      </div>
      <div class="b">
        <form method="post" class="b">
          <select id="name" name="gender">
            <option value="Sir,">Male</option>
            <option value="Mam,">Female</option>
          </select>
          <input type="submit" id="btn-a"></button>
        </form>
      </div>
    </div>
    </div>
  </div>

{% endblock %}