{% extends "layout.html" %}
{% block body %}
  <!-- intro page -->
  <div class="intro-section">
    <div class="intro-image">
      <img src="/static/images/intro_image.png" alt="">
    </div>
    <div class="intro">
      <div class="intro-head">
        <p>DOCSMITH.</p>
        <p id="what">WHAT WE DO?</p>
      </div>
      <div class="intro-paragraph">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati beatae consectetur perferendis libero
          eaque. Illo nisi tempora minima! Perspiciatis quaerat cupiditate illo eius ipsam. Distinctio assumenda non
          molestias neque commodi!
        </p>
      </div>
    </div>
  </div>

  <!-- cardpage -->
<div class="main">
  <h1>Select Your Document Type</h1>
  <div class="wrapper">
    <div class="card">
      <h3 class="card-title">CARD TITLE</h3>
      <hr>
      <p class="card-content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        <br>
        <a href="/s_name"><button id="btn">Create</button></a>
    </div>

    <div class="card">
      <h3 class="card-title">Informal Letter</h3>
      <hr>
      <p class="card-content">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        <br>
        <a href="/sec/s_name"><button id="btn">Create</button></a>
    </div>

    
    
  </div>
</div>
  
{% endblock %}