<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <!-- navbar -->
  <div class="navbar">
    <div class="nav-logo">
      <p>
        <a href="#"><b>DOC</b><span class="smith">Smith</span></a>
      </p>
    </div>
    <div class="nav-about">
      <p>
        <a href="#">CONTACT US</a>
      </p>
    </div>
    <div class="nav-button">
      <p>
        <button id="shadow">Donate</button>
      </p>
    </div>
  </div>
  <hr>

{% block body %} {% endblock %}


  <!-- footer -->
  <footer>
    <ul class="icons">
      <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon><img src="/static/images/Linkedin .png" alt=""></a></li>
      <li><a href="#"><ion-icon name="logo-instagram"></ion-icon><img src="/static/images/insta.png" alt=""></a></li>
      <li><a href="#"><ion-icon name="logo-facebook"></ion-icon><img src="/static/images/Facebook .png" alt=""></a></li>
    </ul>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <div class="footer-copyright">
      <p>Copyright @ 2022 All Rights Reserved.</p>
    </div>
  </footer>

</html>