{% extends "layout.html" %}
{% block body %}

  <!-- profile page -->

    <div class="profile flex">
      <div id="conten"class="box1">
        <div class="profile-1">
          <div class="name">Name <hr class="hrr"></div>
          <p class="paragh-profile-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequatur officiis quia quae eveniet a! Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <a class="icon-1" href="#"><ion-icon name="logo-linkedin"></ion-icon><img src="/static/images/Linkedin .png" alt=""></a>
            <a class="icon-2" href="#"><ion-icon name="logo-instagram"></ion-icon><img src="/static/images/insta.png" alt=""></a>
            <a class="icon-3" href="#"><ion-icon name="logo-facebook"></ion-icon><img src="/static/images/Facebook .png" alt=""></a>
        </div>
      </div>
      <div id="conte"class="box2">
        <div class="profile-2">
          <div class="name">Name <hr class="hrr"></div>
          <p class="paragh-profile-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequatur officiis quia quae eveniet a! Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <a class="icon-1" href="#"><ion-icon name="logo-linkedin"></ion-icon><img src="/static/images/Linkedin .png" alt=""></a>
            <a class="icon-2" href="#"><ion-icon name="logo-instagram"></ion-icon><img src="/static/images/insta.png" alt=""></a>
            <a class="icon-3" href="#"><ion-icon name="logo-facebook"></ion-icon><img src="/static/images/Facebook .png" alt=""></a>
        </div>
      </div>
      <div class="form">
        <div id="contee" class="content">
          <div class="namee">Name</div>
          <input class="inp" type="text">
          <div class="email">E-Mail</div>
          <input class="inpp"type="email" name="" id="">
          <div class="message">Your </div><span class="sp">message</span>
          <textarea class="texta" name="" id="" cols="30" rows="10"></textarea>
          <br>
          <br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <button id="btn-b">Create</button>
        </div>
      </div>
    </div>


  <!-- profile page ends -->


{% endblock %}
  